.detail-page{
    display: flex;
    flex-direction: column;
}
.detail-container1{
    display: flex;
    align-items: center;
    padding: 2.4em 2.7em;
    justify-content: space-between;
    background-color: #0A2222;
    color: white;
}
.detail-container1 .detail > div {
    margin-bottom: 2em;
}
.detail-img {
    border-radius: 12px;
    width: 25%;
}
.detail-img img{
    border-radius: 12px;
    width: 100%;
}
.detail{
    width: 70%;
}
.movie-detail div > p{
    display: inline;
    margin-right: 0.7em;
}
.detail-title{
    font-size: 2.4rem;
    font-weight: bold;
}
.overview-h{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.7em;
}
.overview{
    line-height: 21px;
}
.detail-tagline{
    color: gray;
    font-size: 1.2rem;
}

.detail-container2{
    display: flex;
    align-items: center;
}
.keyword-container{
    padding: 2em;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.keyword-container > p{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.all-keywords{
    display: flex;
    flex-flow: row wrap;   
}
.keyword-name{
    background-color: #E5E5E5;
    border: 1px solid rgb(202, 192, 192);
    border-radius: 4px;
    padding: 0.4em 0.7em;
    margin: 0.2em;
}
.review-container{
    width: 70%;
}
