.search-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
}
.filter-h{
    background-color: blueviolet;
    color: white;
    padding: 1.4em;
}
.filter-container{
    width: 20%;
    border-radius: 4px ;
    border: 1px solid grey;
}
.filter-container .filter-type{
    margin: 1em 0;
}
.filter-type > p{
    padding: 0.7em 1em;
}
.filter-type > p:hover{
    background-color: grey;
    cursor: pointer;
}
.result{
    width: 75%;
    display: flex;
   flex-direction: column;
   
}
.list-item{
    border-radius: 4px;
    box-shadow: 0 0  8px grey;
    margin: 1em;
    height: 140px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.list-item-img{
    width:10%;
    margin-right: 2em;
}
.list-item-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.item-title{
    font-size: 1.3rem;
}
.list-item-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}