.navbar-container{
    background-color: #032541;
    padding: 1em 2em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navbar, .log-sign{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.navbar{
    width: 485px;
}
.log-sign{
    width: 253px;
}
.navbar .title{
    font-size: 2rem;
    color: #5DC4B9;
}
